  /* Center content */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .paperSelection, .abstractDisplay, .quizHellYa {
    text-align: center;
  } 

  .quizHellYa {
    font-size: 25px;
  }

  .paperLink {
    text-decoration: none;
  }

  .AppBar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  

  .choosePaper {
    display: inline-block;
    vertical-align: top;
    height: auto;
  }

  .item {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
}
  .item:hover, .readPaperNext, .greenSquare {
    cursor: pointer;
  }

  .modal {
    text-align: center;
   }

  .greenSquare {
        display: inline-block;
        padding: 1rem;
        background-color: lightgreen;
        color: white;
        font-weight: bold;
        border-radius: 0.25rem;
        text-align: center;
        text-decoration: none;
  }

  .finishQuiz {
        display: inline-block;
        padding: 1rem;
        background-color: lightgreen;
        color: white;
        font-weight: bold;
        border-radius: 0.25rem;
        text-align: center;
        text-decoration: none;
  }

  .cursorPointer {
    cursor: pointer;
    text-decoration: none;
    color: white;
   }


   @media only screen and (max-width: 800px) {
    .lgbDescription {
      font-size: 1rem;
    }

    .lgbHeader {
      font-size: 2rem;
    }
  } 
    

  

  



 



  
  
  