
  @media only screen and (max-width: 800px) {
    .selectPaperHeader, .readPaperHeader {
      font-size: 1.25rem;
    }

    .lgbDescription, .aboutUsDescription {
      font-size: 1rem;
    }
    .lgbHeader {
      font-size: 2rem;
    }
    .lgbText {
      font-size: 0.75rem;
    }
    .abstractText {
      font-size: 12px; 
    }
    .aboutUsText {
      font-size: 0.4rem;
      text-align: center;
    }
  } 

  .aboutUsText {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .paperSelection, .abstractDisplay, .quizHellYa {
    text-align: center;
  } 

  .abstractDisplay {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;  /* light grey color for the background */
    border-radius: 10px; /* rounded corners */
  }

  .lgbDescription {
    margin-top: 70px;
  }

  .quizHellYa {
    font-size: 25px;
  }

  .paperLink {
    text-decoration: none;
  }

  .AppBar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .choosePaper {
    display: inline-block;
    vertical-align: top;
    height: auto;
  }

  .item {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
  }

  .selectedItem {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
    border: solid green;
  }



  .item:hover, .readPaperNext, .greenSquare {
    cursor: pointer;
  }

  .modal {
    text-align: center;
   }

  .greenSquare {
        display: inline-block;
        padding: 1rem;
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #F5DEB3; /* green background color */
        border-radius: 5px;
        text-decoration: none; /* remove underline from link */
  }

  .greenSquare:hover {
    background-color: tan; /* darker green when hovering over the button */
  }

  .readSquare {

    display: inline-block;
    padding: 1rem;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #F5DEB3; /* green background color */
    border-radius: 5px;
    margin-left: 100px;
    text-decoration: none; /* remove underline from link */

  }

  .finishQuiz {
        display: inline-block;
        padding: 1rem;
        background-color: #F5DEB3;
        color: white;
        font-weight: bold;
        border-radius: 0.25rem;
        text-align: center;
        text-decoration: none;
  }

  .cursorPointer {
    cursor: pointer;
    text-decoration: none;
    color: white;
   }




  

  



 



  
  
  